@import url('https://fonts.googleapis.com/css?family=Lobster+Two');

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .appointmentButton {
        background-image: url('./img/logo5.jpg'); 
        position: absolute;
        background-size:100% 100%;
        background-position: center;
        background-repeat:no-repeat; 
        top:105%;
        right: 60%; 
        width: 35%; 
        height: 15%;
        text-align: center;
        font-size: 2.2em;
    
    }
    
    a .appointmentButton  {
        color: #643717 ;
        font-family: 'Lobster Two', cursive;
        font-weight: 100;
        
      }

    .appointmentText {
        top:1em; 
        position: relative;
        left:7em;
    }

     p {
        font-size: 2em;
        font-weight: 400;
    }

    .about {
        line-height: 3.5em;
    }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px){
    .appointmentButton {
        background-image: url('./img/logo5.jpg'); 
        position: absolute;
        background-size:100% 100%;
        background-position: center;
        background-repeat:no-repeat; 
        top:102%;
        right: 60%; 
        width: 20%; 
        height: 15%;
        text-align: center;
        font-size: 1.2em;
    
    }
    
    a .appointmentButton  {
        color: #643717 ;
        font-family: 'Lobster Two', cursive;
        font-weight: 100;
        
      }

    .appointmentText{
        top:1em; 
        position: relative;
        left:8em;
        font-size: 1.3em; 
        color:#493718; 
    }
}

@media only screen  and (min-width : 1024px) {
    .canyon {
        background-image:url('./img/red-rocks.jpg'); 
        position: absolute;
        width: 25%; 
        height: 78%; 
        background-repeat:no-repeat; 
        background-size: cover;
    }
    
    .appointmentButton {
        background-image: url('./img/logo5.jpg'); 
        position: absolute;
        background-size:100% 100%;
        background-position: center;
        background-repeat:no-repeat; 
        top:50%;
        left: 75%; 
        width: 20%; 
        height: 20%;
        text-align: center;
        font-size: 1.4em;
    
    }
    
    a .appointmentButton  {
        color: #643717 ;
        font-family: 'Lobster Two', cursive;
        font-weight: 100;
        
      }

    .appointmentText {
        top:11em; 
        position: relative;
        left:1em;
    }
}

@media only screen  and (min-width : 1440px) {
    .canyon {
        background-image:url('./img/red-rocks.jpg'); 
        position: absolute;
        width: 25%; 
        height: 80%; 
        background-repeat:no-repeat; 
        background-size: cover;
    }
    
    .appointmentButton {
        background-image: url('./img/logo5.jpg'); 
        position: absolute;
        background-size:100% 100%;
        background-position: center;
        background-repeat:no-repeat; 
        top:40%;
        left: 70%; 
        width: 20%; 
        height: 25%;
        text-align: center;
        font-size: 1.4em;
    
    }
    
    a .appointmentButton  {
        color: #643717 ;
        font-family: 'Lobster Two', cursive;
        font-weight: 100;
        
      }

    .appointmentText {
        top:11em; 
        position: relative;
        left:1em;
    }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
    .canyon {
        background-image:url('./img/red-rocks.jpg'); 
        position: absolute;
        width: 25%; 
        height: 73%; 
        background-repeat:no-repeat; 
        background-size: cover;
    }
    
    .appointmentButton {
        background-image: url('./img/logo5.jpg'); 
        position: absolute;
        background-size:100% 100%;
        background-position: center;
        background-repeat:no-repeat; 
        top:40%;
        left: 79.2%; 
        width: 15%; 
        height: 25%;
        text-align: center;
        font-size: 2.5em;
    
    }
    
    a .appointmentButton  {
        color: #643717 ;
        font-family: 'Lobster Two', cursive;
        font-weight: 100;
        
      }
    .appointmentText {
        top:6em; 
        left:0;
        position: relative;
        
    }
}

.footer {
	text-align: center;
}

div.about {
    border-right: double; 
    border-bottom: double; 
    border-color: cornsilk; 
}

.about,
.questions {
	max-width: 37.5em;
	margin: 0 auto;
	margin-top: 0;
}